.drag-handle {
  color: alpha(@theme_fg_color, 0.4);
}

.drag-handle:backdrop {
  color: alpha(@theme_unfocused_fg_color, 0.4);
}

row.illustrated picture:disabled {
  /*
   * FIXME: This is a workaround to handle disabled pictures
   * see: https://gitlab.gnome.org/GNOME/libadwaita/-/merge_requests/814
   */
  opacity: 0.5;
}

row.illustrated .frame {
  border-radius: 6px;
}

.cc-placeholder-row {
  padding: 18px;
}
