/* This class 'edit-icon' taken was from libadwaita and
 * used in AdwActionRow shortcut suffix.
 * See: https://gitlab.gnome.org/GNOME/libadwaita/-/blame/c4c4bdaac70796d431995c78d69d14ba9da9a0ac/src/stylesheet/widgets/_lists.scss#L126
 */
row .suffixes .edit-icon {
  min-width: 24px;
  min-height: 24px;
  padding: 5px;
}
