# Based on GNU, with customizations
BasedOnStyle: GNU

# Customizations
AllowShortEnumsOnASingleLine: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Linux
ColumnLimit: 120
IndentWidth: 4
SpaceAfterCStyleCast: true
WhitespaceSensitiveMacros:
  - g_auto
  - g_autolist
  - g_autoptr
  - _
  - C_
  - N_
  - NC_
