[submodule "subprojects/gvc"]
	path = subprojects/gvc
	url = https://gitlab.gnome.org/GNOME/libgnome-volume-control.git
[submodule "subprojects/libhandy"]
	path = subprojects/libhandy
	url = https://source.puri.sm/Librem5/libhandy.git
