image: claudioandre/control-center:job-445.6
stages:
  - build
  - test

##
# Stage: Build
#
# Checks if GNOME Control Center is properly building and installing. This is the
# most important stage of the CI, and no MR should ever be merged if it breaks
# any of them.
##
build:
  stage: build
  script:
    - meson . _build
    - ninja -C _build
    - ninja -C _build install


##
# Stage: Test
#
# Runs the unit tests.
##
test:
  stage: test
  script:
    - meson . _build
    - ninja -C _build
    - |
      if [[ -n "${CI_COMMIT_TAG}" ]]; then
        echo "== Distro Test =="
        meson test -C _build
        ninja dist -C _build
      else
        echo "== Testing =="
        meson test -C _build --verbose --no-stdsplit
      fi
