[submodule "panels/sound/gvc"]
	path = panels/sound/gvc
	url = https://gitlab.gnome.org/GNOME/libgnome-volume-control.git

[submodule "libgd"]
	path = libgd
	url = https://gitlab.gnome.org/GNOME/libgd.git
