.mouse-test-viewport {
    background: #26a269;
}

.mouse-test-arrow {
    color: white;
}

.top-arrow {
    padding-bottom:2em;
    background: linear-gradient(to top, transparent, rgba(0,0,0,0.5));
}
.bottom-arrow {
    padding-top:2em;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
}

.click-status-emblem {
    border-radius: 9999px;
    background-color: alpha(currentColor, .2);
    color: alpha(currentColor, .5);
    padding: 10px;
}

.click-status-emblem.success {
    background-color: @success_bg_color;
    color: @success_fg_color;
}
