.mouse-test-viewport {
    background: #26a269;
}

.mouse-test-arrow {
    color: white;
    -gtk-icon-shadow: 0 1px black;
}

.click-status-emblem {
    border-radius: 9999px;
    background-color: alpha(currentColor, .2);
    color: alpha(currentColor, .5);
    padding: 10px;
}

.click-status-emblem.success {
    background-color: @success_bg_color;
    color: @success_fg_color;
}
