.mouse-test-viewport {
    background: #26a269;
    border-radius: 5px;
}

.mouse-test-arrow {
    color: white;
    -gtk-icon-shadow: 0 1px black;
}

.click-status-emblem {
    border-radius: 9999px;
    background-color: @borders;
    padding: 10px;
}
