[Desktop Entry]
Name=MDI
Name[ca]=Multidocument
Name[da]=Multidokument
Name[de]=Multi-Dokument-Interface
Name[el]=Ğïëı-Íôïêïõìİíôï
Name[es]=Multidocumento
Name[et]=Multidokument
Name[fi]=Usean asiakirjan käyttö
Name[fr]=Multidocument
Name[gl]=Multi-Documento
Name[ja]=MDI
Name[ko]=¿©·¯¹®¼­
Name[no]=MDI
Name[pl]=MDI
Name[pt]=MDI
Name[sl]=MDI (Veèdokumentni vmesnik)
Name[sv]=MDI
Name[tr]=ÇDY
Name[uk]=MDI
Name[wa]=Eterface multi-documints (MDI)
Comment[fr]=Configuration du comportement des applications multidocument GNOME
Exec=ui-properties --cap-id=2
Icon=gnome-mdi.png
Terminal=0
Type=Application
