/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2024 GNOME Foundation, Inc.
 */

/* Bar chart */
bar-chart bar-group {
  padding: 0 5px;
}

bar-chart bar {
  border-radius: 5px 5px 0 0;
  background-color: #62a0ea;
}

label.continuous-axis-label {
  color: grey; /* TODO */
  margin: 0 10px;
}

label.discrete-axis-label {
  margin-top: 10px;
}

