/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2024 GNOME Foundation, Inc.
 */

/* Screen time statistics */
row.screen-time-statistics-row box.main-box {
  margin: 6px 12px 6px 12px;
}

row.screen-time-statistics-row .primary-label {
  font-weight: bold;
}

row.screen-time-statistics-row .primary-value {
  font-size: 2em;
}

row.screen-time-statistics-row .secondary-label {
  color: grey; /* TODO */
}

row.screen-time-statistics-row .secondary-value {
  font-weight: bold;
}

/* Bar chart */
bar-chart bar-group {
  padding: 0 5px;
}

bar-chart bar {
  border-radius: 5px 5px 0 0;
  background-color: #62a0ea;
}

label.continuous-axis-label {
  color: grey; /* TODO */
  margin: 0 10px;
}

label.discrete-axis-label {
  margin-top: 10px;
}

