[Desktop Entry]
Name=File Types and Programs
Name[pt_BR]=Tipos de Arquivos e Programas
Name[da]=Filtyper og programmer
Name[fi]=Tiedostotyypit ja ohjelmat
Name[fr]=Type de fichiers et programmes
Name[no]=Filtyper og programmer
Name[sk]=Typy súborov a programy
Name[sv]=Filtyper och program
Name[tr]=Dosya türleri ve uygulamarý
Comment=Specify which programs are used to open or view each file type
Comment[fi]=Aseta, millä ohjelmilla tietyn tyyppisiä tiedostoja käsitellään
Comment[pt_BR]=Precisamos de uma boa explicação aqui.
Comment[da]=Vi har brug for en god forklaring her.
Comment[fr]=Éditeur d'association de type de fichiers et d'applications
Comment[no]=Koblinger mellom filtyper og programmer
Comment[sk]=Sem by to chcelo nejaké rozumné vysvetlenie...
Comment[sv]=Ange de program som används för att öppna eller visa varje filtyp
Comment[tr]=Eh, buraya da iyi bir anlatým gerek ...
Icon=gnome-ccmime.png
Exec=file-types-capplet
Terminal=0
Type=Application
