[Desktop Entry]
Name=File Types and Programs
Name[da]=Filtyper og programmer
Name[fr]=Type de fichiers et programmes
Name[tr]=Dosya türleri ve uygulamarý
Comment=We need a good explanation here.
Comment[da]=Vi har brug for en god forklaring her.
Comment[fr]=Éditeur d'association de type de fichiers et d'applications
Comment[tr]=Eh, buraya da iyi bir anlatým gerek ...
Icon=gnome-ccmime.png
Exec=nautilus-mime-type-capplet
Terminal=0
Type=Application
