[Desktop Entry]
Name=File Types and Programs
Name[da]=Filtyper og programmer
Comment=We need a good explanation here.
Comment[da]=Vi har brug for en god forklaring her.
Icon=gnome-ccmime.png
Exec=nautilus-mime-type-capplet
Terminal=0
Type=Application
