[Desktop Entry]
Name=File Types and Programs
Name[pt_BR]=Tipos de Arquivos e Programas
Name[da]=Filtyper og programmer
Name[fi]=Tiedostotyypit ja ohjelmat
Name[fr]=Type de fichiers et programmes
Name[no]=Filtyper og programmer
Name[sk]=Typy súborov a programy
Name[tr]=Dosya türleri ve uygulamarý
Comment=We need a good explanation here.
Comment[fi]=Aseta, millä ohjelmilla tietyn tyyppisiä tiedostoja käsitellään.
Comment[pt_BR]=Precisamos de uma boa explicação aqui.
Comment[da]=Vi har brug for en god forklaring her.
Comment[fr]=Éditeur d'association de type de fichiers et d'applications
Comment[no]=Koblinger mellom filtyper og programmer
Comment[sk]=Sem by to chcelo nejaké rozumné vysvetlenie...
Comment[tr]=Eh, buraya da iyi bir anlatým gerek ...
Icon=gnome-ccmime.png
Exec=nautilus-mime-type-capplet
Terminal=0
Type=Application
