.security-level-icon {
  border-radius: 9999px;
  min-width: 64px;
  min-height: 64px;
}

.panel-unavaliable-color {
  color: var(--light-4);
}

.hsi-level-box.level0 {
  background-color: color-mix(in srgb, var(--error-color) 25%, transparent);
}

.hsi-level-box.level1 {
  background-color: color-mix(in srgb, var(--light-4) 25%, transparent);
}

.hsi-level-box.level2 {
  background-color: color-mix(in srgb, var(--warning-color) 25%, transparent);
}

.hsi-level-box.level3 {
  background-color: color-mix(in srgb, var(--sucess-color) 25%, transparent);
}

.hsi-level-font {
  font-size: 32px;
  font-weight: 800;
}

.hsi-level-font.hsi0 {
  color: var(--error-color);
}

.hsi-level-font.hsi1 {
  color: var(--light-4);
}

.hsi-level-font.hsi2 {
  color: var(--warning-color);
}

.hsi-level-font.hsi3 {
  color: var(--success-color);
}

.security-level-icon {
  border-radius: 9999px;
  min-width: 64px;
  min-height: 64px;
}

.security-level-icon.good {
  color: var(--success-color);
  background-color: color-mix(in srgb, var(--success-color) 25%, transparent);
}

.security-level-icon.error {
  color: var(--error-color);
  background-color: color-mix(in srgb, var(--error-color) 25%, transparent);
}

.security-level-icon.warning {
  color: var(--warning-color);
  background-color: color-mix(in srgb, var(--warning-color) 25%, transparent);
}

.security-level-icon.neutral {
  color: color-mix(in srgb, currentColor 40%, transparent);
  background-color: color-mix(in srgb, currentColor 40%, transparent);
}

#color_green {
  color: @success_color;
}

#color_dim {
  color: @light_4f;
}

image.success-icon {
  color: var(--success-color);
}

image.error-icon {
  color: var(--error-color);
}

row.gray-icon image {
  color: var(--light-4);
}

row.success-hsi-icon image.hsi_icon {
  color: var(--success-color);
}

row.error-hsi-icon image.hsi_icon {
  color: var(--error-color);
}

row.success-title label.hsi_label {
  font-weight: bold;
  color: var(--success-color);
}

row.error-title label.hsi_label {
  font-weight: bold;
  color: var(--error-color);
}

row.security-description-row label.subtitle {
  padding: 12px 0;
}

row.hide-arrow image.expander-row-arrow {
  opacity: 0;
}
