[Desktop Entry]
Name=Rollback
Name[de]=Zurücksetzen
Comment=Restore earlier configuration
Comment[de]=Setzt aüf ältere Konfigurationen zurück
Exec=rollback-capplet
Terminal=0
Type=Application
