[Desktop Entry]
Name=GNOME Control Center
Name[sl]=Kontrolni center GNOME
Name[ca]=Centre de Control GNOME
Name[cs]=Øídící centrum Gnome
Name[da]=Kontrolcenter
Name[de]=GNOME-Kontrollzentrum
Name[el]=Êİíôñï Åëİã÷ïõ ôïõ GNOME
Name[en_GB]=Gnome Control Centre
Name[es]=Centro de Control GNOME
Name[et]=Juhtpaneel
Name[fi]=GNOMEn hallintakeskus
Name[fr]=Centre de contrôle GNOME
Name[gl]=Centro de Control de GNOME
Name[hu]=GNOME Vezérlõpult
Name[ja]=GNOME¥³¥ó¥È¥í¡¼¥ë¥»¥ó¥¿¡¼
Name[ko]=±×³ğ Á¶Á¾ÆÇ
Name[lt]=GNOME Valdymo centras
Name[no]=GNOME kontrollsenter
Name[pl]=Centrum Sterowania GNOME
Name[pt]=Centro de Controlo GNOME
Name[pt_BR]=Centro de Controle GNOME
Name[ru]=ãÅÎÔÒ õĞÒÁ×ÌÅÎÉÑ GNOME
Name[sv]=GNOME Kontrollcenter
Name[tr]=Gnome Ayarlar Merkezi
Name[uk]=ãÅÎÔÒ ËÅÒÕ×ÁÎÎÑ GNOME
Name[wa]=Cente di contrôle di GNOME
Name[zh_TW.Big5]=GNOME ±±¨î¥x
Name[zh_CN.GB2312]=GNOME ¿ØÖÆÌ¨
Comment=The GNOME configuration tool
Comment[sl]=Nastavitveno orodje GNOME
Comment[ca]=La ferramenta de configuració de GNOME
Comment[cs]=Konfiguraèní nástroj Gnome
Comment[da]=Gnomes konfigurationsværktøj
Comment[de]=Das Konfigurationswerkzeug für GNOME
Comment[el]=Ôï åñãáëåßï ñıèìéóçò ôïõ GNOME
Comment[es]=Herramienta de configuración del entorno GNOME
Comment[et]=GNOME kasutajaliidese häälestusprogramm
Comment[fi]=GNOME:n hallintatyökalu
Comment[fr]=Outil de configuration de GNOME.
Comment[gl]=A ferramenta de configuración de GNOME
Comment[hu]=GNOME konfiguráció
Comment[ja]=GNOME¤ÎÀßÄê¥Ä¡¼¥ë¤Ç¤¹
Comment[ko]=±×³ğ ¼³Á¤ ÇÁ·Î±×·¥
Comment[lt]=GNOME aplinkos konfigûravimo árankis.
Comment[no]=Konfigurasjonsverktøy for GNOME
Comment[pl]=Narzêdzie do konfiguracji GNOME
Comment[pt]=A ferramenta de configuração GNOME.
Comment[pt_BR]=Ferramenta de configuração GNOME
Comment[ru]=óÒÅÄÓÔ×Ï ËÏÎÆÉÇÕÒÁÃÉÉ GNOME
Comment[sv]=Konfigurationsverktyg för GNOME
Comment[tr]=Gnome'un ayarlar merkezi
Comment[uk]=úÁÓ¦Â ËÏÎÆ¦ÇÕÒÕ×ÁÎÎÑ GNOME
Comment[wa]=L' usteye d' apontiaedje di GNOME
Comment[zh_TW.Big5]=¦UºØ GNOME ³]©w¤u¨ã
Comment[zh_CN.GB2312]=¸÷ÖÖ GNOME Éè¶¨¹¤¾ß
Icon=control-center.png
Exec=gnomecc
Terminal=0
Type=Application
