[Desktop Entry]
Name=Gtk+ Theme Selector
Comment=Select which gtk+ theme to use
Exec=gtk-theme-selector-capplet
Icon=gnome-ccthemes.png
Terminal=0
Type=Application
