[Desktop Entry]
Name=Theme Selector
Name[de]=Thema auswählen
Name[es]=Selector de Temas
Name[hu]=Témaválasztó
Name[fi]=Teemavalitsin
Name[fr]=Selecteur de Thèmes
Name[it]=Selettore temi
Name[ko]=Å×¸¶ ¼±ÅÃ
Name[no]=Temavelger
Name[pt]=Selector de Temas
Name[ru]=ğÅÒÅËÌÀŞÁÔÅÌØ ÔÅÍ
Comment=Select which desktop theme to use.
Comment[de]=Desktop-Thema auswählen
Comment[es]=Seleccionar el tema deseado para el escritorio
Comment[fi]=Valitsee käytettävän työpöytäteeman.
Comment[hu]=A GNOME alkalmazások kinézetét meghatározó téma
Comment[fr]=Choisir un thème pour le bureau
Comment[it]=Selezione del tema da usare per il desktop
Comment[ko]=¾î¶² µ¥½ºÅ©Å¾ Å×¸¶¸¦ »ç¿ëÇÒ Áö ¼±ÅÃ
Comment[no]=Velger tema for skrivebordet
Comment[pt]=Selecciona qual o tema a utilizar.
Comment[ru]=÷ÙÂÏÒ ÔÅÍÙ
Exec=theme-selector-capplet
Icon=gnome-ccthemes.png
Terminal=0
Type=Application