[Desktop Entry]
Name=Theme Selector
Name[pt]=Selector de Temas
Name[no]=Temavelger
Comment=Select which desktop theme to use.
Comment[pt]=Selecciona qual o tema a utilizar.
Comment[no]=Velger tema for skrivebordet
Exec=theme-selector-capplet
Terminal=0
Type=Application
