[Desktop Entry]
Name=Theme Selector
Name[pt]=Selector de Temas
Comment=Select which desktop theme to use.
Comment[pt]=Selecciona qual o tema a utilizar.
Exec=theme-selector-capplet
Terminal=0
Type=Application
