
display-arrangement.monitor {
  border: solid 1px @borders;
  margin: 0px 0px 1px 1px;
  background: @theme_bg_color;
  padding: 0.4em;
}

display-arrangement.monitor.primary {
  border-top: 0.4em solid #000000;
}

display-arrangement.monitor-label {
  font-size: larger;
  font-weight: bold;
  border-radius: 0.3em;
  padding-right: 0.2em;
  padding-left: 0.2em;
  color: #fff;
  background: #000;
}

label.monitor-label {
  border-radius: 50%;
  font-weight: bold;
  min-width: 1.5em;
  min-height: 1.5em;
  color: #fff;
  background: #000;
}
