Source: control-center
Section: x11
Priority: optional
Maintainer: Christian Marillat <marillat@debian.org> 
Standards-Version: 3.5.6.0
Build-Depends: libgtkhtml-dev, libgal-dev (>= 0.13), pkg-config (>= 0.8.0),
 libbonobo-conf-dev (>= 0.12), automake, intltool, libtiff3g-dev,
 libgdk-pixbuf-gnome-dev, debhelper (>> 3), libglade-gnome0-dev (>= 0.13-2),
 zlib1g-dev, flex, imlib-dev (>= 1.9.8-4), libgtkxmhtml-dev (>= 1.2.0),
 orbit, libwrap0-dev, libgnome-dev (>= 1.2.13-5), libjpeg62-dev,
 libungif4-dev (>= 4.1-4), libpng2-dev, xscreensaver, libcapplet-dev (>= 1.5.4),
 libgnome-vfs-dev (>= 1.0.2)

Package: gnome-control-center
Architecture: any
Depends: ${shlibs:Depends}, gnome-bin (>= 1.2.13-5), scrollkeeper (>= 0.2-1), xbase-clients (>= 4.0.3-1)
Replaces: gnome-desktop, gnome-core
Suggests: gnome-core, gnome-audio, xscreensaver (>= 3.32-1), doc-base
Description: The Gnome Control Center
 Gnome is the "GNU Network Object Model Environment"
 .
 It is a project to build a complete, user-friendly desktop based
 entirely on free software.
 .
 This package contains utilities to configure your desktop background,
 screen saver, keyboard and mouse properties.

Package: libconfig-archiver0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Library for Gnome Control Center applets
 Gnome is the "GNU Network Object Model Environment"
 .
 It is a project to build a complete, user-friendly desktop based
 entirely on free software.
 .
 This library is used by Gnome control center applets.

Package: libconfig-archiver-dev
Section: devel
Architecture: any
Depends: libconfig-archiver0 (>= 1.5.0)
Description: Library for Gnome Control Center applets - Development
 Gnome is the "GNU Network Object Model Environment"
 .
 It is a project to build a complete, user-friendly desktop based
 entirely on free software.
 .
 This packages provides the include files and static library 
 for the Gnome control center applet library functions.
