/*************************************************
 * CcContentRow, mostly copied from AdwActionRow *
 *************************************************/

row.content box.header,
row.content box.contents {
  margin-left: 12px;
  margin-right: 12px;
  border-spacing: 6px;
  min-height: 50px;
}
row.content box.title {
  margin-top: 6px;
  margin-bottom: 6px;
  border-spacing: 3px;
  padding: 0;
}
row.content .prefixes,
row.content .suffixes {
  border-spacing: 6px;
}
row.content .prefixes:dir(ltr) {
  margin-right: 6px;
}
row.content .prefixes:dir(rtl) {
  margin-left: 6px;
}

/*******************
 * Everything else *
 *******************/

.illustration picture:disabled {
  /*
   * FIXME: This is a workaround to handle disabled pictures
   * see: https://gitlab.gnome.org/GNOME/libadwaita/-/merge_requests/814
   */
  opacity: 0.5;
}

row.split-row .card:not(:hover) {
  box-shadow: unset;
  background-color: unset;
}

row.split-row.content box.contents {
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}

row.illustration .frame {
  border-radius: 9px;
}

