[Desktop Entry]
Name=Keyboard
Name[ca]=Propietats del teclat
Name[cs]=Klávesnice
Name[da]=Tastatur
Name[de]=Tastatur
Name[el]=Ñõèìßóåéò ğëçêôñïëïãßïõ
Name[es]=Propiedades del Teclado
Name[et]=Klaviatuur
Name[fi]=Näppäimistö
Name[fr]=Clavier
Name[gl]=Teclado
Name[hu]=Billentyûzet
Name[it]=Tastiera
Name[ja]=¥­¡¼¥Ü¡¼¥É
Name[ko]=ÀÚÆÇ
Name[lt]=Klaviatûra
Name[no]=Tastatur
Name[pl]=Klawiatura
Name[pt]=Propriedades do Teclado
Name[pt_BR]=Propriedades do Teclado
Name[ro]=Tastaturã
Name[ru]=ëÌÁ×ÉÁÔÕÒÁ
Name[sl]=Tipkovnica
Name[sv]=Tangentbord
Name[uk]=ëÌÁ×¦ÁÔÕÒÁ
Name[wa]=Prôpietés del taprece
Name[zh_TW.Big5]=Áä½L
Name[zh_CN.GB2312]=¼üÅÌ
Comment=Keyboard Properties
Comment[ca]=Configurar el teclat
Comment[cs]=Vlastnosti klávesnice
Comment[da]=Tastaturegenskaber
Comment[de]=Tastatureinstellungen
Comment[el]=Ôñïğïğïßçóç ôùí ñõèìßóåùí ôïõ ğëçêôñïëïãßïõ
Comment[es]=Modifica las propiedades del teclado
Comment[et]=Klaviatuuri häälestus
Comment[fi]=Näppäimistön asetukset
Comment[fr]=Configuration des propriétés du clavier
Comment[gl]=Propiedades do teclado
Comment[hu]=Billentyûzet beállításai
Comment[it]=Impostazioni della tastiera
Comment[ja]=¥­¡¼¥Ü¡¼¥É¤ÎÀßÄê
Comment[ko]=ÀÚÆÇ ¼Ó¼º
Comment[lt]=Klaviatûros savybës
Comment[no]=Egenskaper for tastatur
Comment[pl]=Ustawienia klawiatury
Comment[pt]=Propriedades do Teclado
Comment[pt_BR]=Propriedades do Teclado
Comment[ro]=Proprietãşi tastaturã
Comment[ru]=ó×ÏÊÓÔ×Á ËÌÁ×ÉÁÔÕÒÙ
Comment[sl]=Lastnosti Tipkovnice
Comment[sv]=Tangentbordsinställningar
Comment[uk]=÷ÌÁÓÔÉ×ÏÓÔ¦ ËÌÁ×¦ÁÔÕÒÉ
Comment[wa]=Candjî les prôpietés del taprece
Comment[zh_TW.Big5]=Áä½L³]©w
Comment[zh_CN.GB2312]=¼üÅÌÉè¶¨
Exec=keyboard-properties-capplet
Icon=gnome-cckeyboard.png
Terminal=0
Type=Application
