.security-level-icon {
  border-radius: 9999px;
  min-width: 64px;
  min-height: 64px;
}

.security-level-icon.good {
  color: @success_color;
  background-color: alpha(@success_color, .25);
}

.security-level-icon.error {
  color: @error_color;
  background-color: alpha(@error_color, .25);
}

.security-level-icon.warning {
  color: @warning_color;
  background-color: alpha(@warning_color, .25);
}

.security-level-icon.neutral {
  color: @light_4;
  background-color: alpha(@light_4, .25);
}

#color_green {
  color: @success_color;
}

#color_dim {
  color: @light_4f;
}

row.success-icon image {
  color: @success_color;
}

row.warning-icon image {
  color: @warning_color;
}

row.error-icon image {
  color: @error_color;
}

row.gray-icon image {
  color: @light_4;
}
