[Desktop Entry]
Name=System Setup
Icon=preferences-system
Exec=gnome-system-setup
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
OnlyShowIn=GNOME;
AutostartCondition=GSETTINGS org.gnome.control-center.setup need-setup
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=setup
X-GNOME-Bugzilla-Version=unknown
