[Desktop Entry]
Name=Mouse
Name[ca]=Propietats del ratolí
Name[cs]=My¹
Name[da]=Mus
Name[de]=Maus
Name[el]=Ñõèìßóåéò ğïíôéêéïı
Name[es]=Propiedades del ratón
Name[et]=Hiir
Name[fi]=Hiiri
Name[fr]=Souris
Name[gl]=Rato
Name[hu]=Egér
Name[it]=Mouse
Name[ja]=¥Ş¥¦¥¹
Name[ko]=¸¶¿ì½º ¼³Á¤
Name[lt]=Pelë
Name[no]=Mus
Name[pl]=Mysz
Name[pt]=Propriedades do Rato
Name[pt_BR]=Propriedades do Mouse
Name[ro]=Mouse
Name[ru]=íÙÛØ
Name[sl]=Mi¹ka
Name[sv]=Mus
Name[uk]=íÉÛÁ
Name[wa]=Sori
Name[zh_TW.Big5]=·Æ¹«
Name[zh_CN.GB2312]=»¬Êó
Comment=Mouse Properties
Comment[ca]=Configurar el ratolí
Comment[cs]=Vlastnosti my¹i
Comment[da]=Museegenskaber
Comment[de]=Einstellungen für die Maus
Comment[el]=Ôñïğïğïßçóç ôùí ñõèìßóåùí ôïõ ğïíôéêéïı
Comment[es]=Modifica las propiedades del ratón
Comment[et]=Hiire häälestus
Comment[fi]=Hiiren asetukset
Comment[fr]=Configuration des propriétés de la souris
Comment[gl]=Propiedades do rato.
Comment[hu]=Az egér beállítása
Comment[it]=Impostazioni del mouse
Comment[ja]=¥Ş¥¦¥¹¤ÎÀßÄê
Comment[ko]=¸¶¿ì½º ¼³Á¤
Comment[lt]=Pelës savybës
Comment[no]=Egenskaper for mus
Comment[pl]=Ustawienia myszy
Comment[pt]=Modifica as propriedades do rato
Comment[pt_BR]=Propriedades do Mouse
Comment[ro]=Proprietãşi mouse
Comment[ru]=ó×ÏÊÓÔ×Á ÍÙÛÉ
Comment[sl]=Lastnosti mi¹ke
Comment[sv]=Egenskaper för mus
Comment[uk]=÷ÌÁÓÔÉ×ÏÓÔ¦ ÍÉÛ¦
Comment[wa]=Candjî les prôpietés del sori
Comment[zh_TW.Big5]=·Æ¹«³]©w
Comment[zh_CN.GB2312]=»¬ÊóÉè¶¨
Exec=mouse-properties-capplet
Icon=gnome-mouse.png
Terminal=0
Type=Application
